@{
    ViewData["Title"] = "Home Page";
}

<div class="has-bg-img">
    <h2>Hiker Pals!</h2>
    <h4><i class="fa fa-leaf" style="font-size:36px"></i>Check out other hikers!  Learn their Trail names and experiences from their profiles! <i class="fa fa-leaf" style="font-size:36px"></i></h4>
    <img class="bg-img" src="images/backpack-1868720_1280.jpg" alt="Boots and Rocks">
</div>
